
#navbar-custom{
    background-color: transparent;
    border: none;
    font-family: 'Muli', sans-serif;    
    font-weight: 200;
    font-size: 18px;  
    color:black;
}

#brand {
    color:#FF9800;
    font-weight: bold;
}