@charset "UTF-8";
@import 'loading';
@import 'vendor/normalize';
@import 'mainpage';
@import 'navbar';

.mainDash{
    text-align: center;
    width: 50%;
    float: left;
}

.mainDash > *{
    text-align: center;
    margin: auto;
}

html, body {
    margin: 0px;
    background: white;
    height: 100%;
}