@charset "UTF-8";
@import 'loading';
@import 'vendor/normalize';
@import 'navbar';
.mainDash{
    text-align: center;
    width: 50%;
    float: left;
}

.mainDash > *{
    text-align: center;
    margin: auto;
}